---
import Page from "../components/Page.astro";
import Hero from "../components/Hero.astro";
import Timeline from "../components/Timeline.astro";
import TimelineItem from "../components/TimelineItem.astro";
import Skills from "../components/Skills.astro";
import Skill from "../components/Skill.astro";
---

<Page
	options={["About", "Blog", "Portfolio"]}
	selected="About"
	title="David Bolaños"
>
	<Hero />
	<Timeline title="Experience">
		<TimelineItem
			img="/ellucian.svg"
			period="Aug 2023 - Present"
			title="Software Engineer"
		>
			Software engineer at <a href="https://www.ellucian.com/">Ellucian</a>.
			Fullstack developer in PowerCampus team.
		</TimelineItem>
		<TimelineItem
			img="/ellucian.svg"
			period="Jan 2023 - Aug 2023"
			title="R&D Intern"
		>
			R&D intern at <a href="https://www.ellucian.com/">Ellucian</a>.
			Worked in data migration pipeline for migration to SaaS services and in fixing accessibility issues in PowerCampus products.
		</TimelineItem>
		<TimelineItem
			img="/rango_logo.svg"
			period="Apr 2021 - Apr 2022"
			title="Lead Backend Developer 💻"
		>
			<a href="https://rango.dev">Rango.dev</a>
			's backend developer for JAMstack and fullstack applications.
		</TimelineItem>
		<TimelineItem
			img="/ug.png"
			period="Aug 2019 - Dec 2019"
			title="Python Instructor"
		>
			Python for scientific computing instructor at the Natural and Exact
			Sciences faculty of the University of Guanajuato.
		</TimelineItem>
	</Timeline>
	<Timeline title="Leadership">
		<TimelineItem
			img="/mlsa-badge.png"
			period="Jul 2021 - Jun 2024"
			title="Microsoft Learn Student Ambassador (Beta)"
		>
			Beta MLSA. In charge of organizing events, mentoring new
			ambassadors, teaching workshops and talks with high technical focus.
		</TimelineItem>
		<TimelineItem
			img="/flab-black.png"
			period="Jan 2019 - Present"
			title="Coordinator"
		>
			Coordinator at Future Lab. Assistance and organization in events and
			workshops. Development of socially impactful applications.
		</TimelineItem>
	</Timeline>
	<Timeline title="Research">
		<TimelineItem
			img="/research-icon.svg"
			period="Jan 2022 - Sep 2022"
			title="Researcher"
		>
			Performance comparative of surrogate models as fitness functions for
			metaheuristic algorithms.
			<br />DOI: <a href="https://doi.org/10.1007/978-3-031-28999-6_9">
				https://doi.org/10.1007/978-3-031-28999-6_9
			</a>
		</TimelineItem>
		<TimelineItem
			img="/research-icon.svg"
			period="Jan 2021 - Sep 2021"
			title="Researcher"
		>
			A statistical and experimental comparison of meta-heuristic
			evolutionary models for the CVRP.
			<br />DOI: <a href="https://doi.org/10.1007/978-3-031-08266-5_10">
				https://doi.org/10.1007/978-3-031-08266-5_10
			</a>
		</TimelineItem>
	</Timeline>
	<Skills>
		<Skill img="/csharp-original.svg" title="C#">
			Backend and frontend development. ETL and services deployment.
		</Skill>
		<Skill img="/docker-original.svg" title="Docker	">
			Dev environments. Services deployment and management.
		</Skill>
		<Skill img="/typescript-original.svg" title="Typescript">
			Backend and frontend development.
		</Skill>
		<Skill img="/javascript-original.svg" title="Javascript">
			Backend and frontend development.
		</Skill>
		<Skill img="/nodejs-original.svg" title="Node.js">
			Backend development and use of developer tooling.
		</Skill>
		<Skill img="/python-original.svg" title="Python">
			Data science, machine learning, and web development.
		</Skill>
		<Skill img="/git-original.svg" title="Git">
			Version control with git and platforms such as Github and GitLab.
		</Skill>
		<Skill img="/linux-original.svg" title="Linux">
			Workstation and server setup.
		</Skill>
		<Skill img="/postgresql-original.svg" title="PostgreSQL">
			Data storage, management and aggregation.
		</Skill>
		<Skill img="/mongodb-original.svg" title="MongoDB">
			Data storage, management and aggregation.
		</Skill>
	</Skills>
</Page>
