---
import Page from '../components/Page.astro';
import Hero from '../components/Hero.astro';
import Timeline from '../components/Timeline.astro';
import TimelineItem from '../components/TimelineItem.astro';
---

<Page options={["About", "Blog" , "Portfolio" ]} selected="About" title="David Bolaños">
	<Hero />
	<Timeline title="Experience">
		<TimelineItem img="rango_logo.svg" period="Apr 2021 - Apr 2022" title="Lead Backend Developer 💻">
			<a href="https://rango.dev">Rango.dev</a>
			's backend developer for JAMstack and full-stack applications.
		</TimelineItem>
		<TimelineItem img="ug.png" period="Aug 2019 - Dec 2019" title="Python Instructor">
			Python for scientific computing instructor at the Natural and Exact Sciences faculty of the University of
			Guanajuato.
		</TimelineItem>
	</Timeline>
	<Timeline title="Leadership">
		<TimelineItem img="mlsa-badge.png" period="Jul 2021 - Present"
			title="Microsoft Learn Student Ambassador (Beta)">
			Beta MLSA. In charge of organizing events, mentoring new ambassadors, teaching workshops and talks with high
			technical focus.
		</TimelineItem>
		<TimelineItem img="flab-black.png" period="Jan 2019 - Present" title="Coordinator">
			Coordinator at Future Lab. Assistance and organization in events and workshops. Development of socially
			impactful applications.
		</TimelineItem>
	</Timeline>
	<Timeline title="Research">
		<TimelineItem img="research-icon.svg" period="Jan 2022 - Present" title="Researcher">
			Performance comparative of surrogate models as fitness functions for metaheuristic algorithms.
			<br />DOI: TBD
		</TimelineItem>
		<TimelineItem img="research-icon.svg" period="Jan 2021 - Sep 2021" title="Researcher">
			A statistical and experimental comparison of meta-heuristic evolutionary models for the CVRP.
			<br />DOI: TBD
		</TimelineItem>
	</Timeline>
</Page>