---
export interface Props {
    title: string,
    date?: string,
    description: string,
    thumbnail: string,
}

const {title, date, description, thumbnail} = Astro.props as Props;
---

<style>
    .project-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 50%;
        flex-wrap: wrap;
    }

    @media (max-width: 1000px) {
        .project-card {
            width: 100%;
            margin: 1rem auto 1rem auto;
        }
    }
    img {
        width: 50%;
        margin-bottom: 0;
    }
    h4 {
        margin: 0 auto 0 auto;
    }
    p {
        margin: 0 auto 0 auto;
    }
</style>

<div class="project-card">
    <img src={thumbnail} alt={`${title}'s thumbnail`}>
    <h4>{title}</h4>
    <p class="date">{date ? date : ""}</p>
    <p class="desc">{description.slice(0, 200)}</p>
</div>