---
import Page from "../../components/Page.astro";
import ProjectCard from "../../components/ProjectCard.astro";
---

<style>
    .projects-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }
</style>

<Page options={["About", "Blog", "Portfolio"]} selected="Portfolio">
    <!-- <div class="projects-list">
        <ProjectCard
            title="Kluü's backend development"
            thumbnail="/projects/kluu/kluu_screenshot.png"
            date="Nov 2021 - Apr 2022"
            description="Test of a description"
        />
        <ProjectCard
            title="Python for scientific computing instructor"
            thumbnail="/projects/python-dcne/thumbnail.jpg"
            date="Aug 2019 - Dec 2019"
            description="Test of another description"
        />
    </div> -->
    <h1>Coming soon!</h1>
</Page>
